#access-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;

  #switch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-evenly;
  }
}
