<div id="dialog-container">
  <app-e-form
    title="Password Change"
    [inputFields]="[
      {
        name: 'oldPassword',
        value: oldPassword,
        label: 'Old password',
        type: 'password',
        required: true,
      },
      {
        name: 'newPassword',
        value: newPassword,
        label: 'New password',
        type: 'password',
        required: true,
      },
    ]"
    [error]="errorMessage"
    buttonLabel="Save"
    (submitted)="onPasswordChange()"
    (formInputsChanged)="onFormChange($event)"
  >
  </app-e-form>
</div>
