################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ETournamentManager.Server/Core/Common/UploadImages/testing.png
