<div id="dialog-container">
  <app-e-form
    title="Login"
    [inputFields]="[
      {
        name: 'username',
        value: username,
        label: 'Username',
        required: true,
      },
      {
        name: 'password',
        value: password,
        label: 'Password',
        type: 'password',
        required: true,
      },
    ]"
    [error]="errorMessage"
    buttonLabel="Login"
    (submitted)="onLogin()"
    (formInputsChanged)="onFormChange($event)"
  >
    <p class="register-link">
      {{ "Don't have an account?" | translate }} {{ 'Register' | translate }}
      <a (click)="onRegisterClick()">{{ 'here' | translate }}</a>
    </p>

    <app-e-button img="assets/images/logo-google.png" (click)="loginWithGoogle()">Log in with </app-e-button>
  </app-e-form>
</div>
