@use 'colors';

.register-link {
  font-style: italic;

  a {
    cursor: pointer;
    color: colors.$primary;
    text-decoration: underline;
  }
}

::ng-deep app-e-button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
