<div id="dialog-container">
  <app-e-form
    title="Create new tournament"
    [inputFields]="[
      {
        name: 'name',
        value: name,
        label: 'Name',
        required: true,
      },
      {
        name: 'description',
        value: description,
        label: 'Description',
      },
      {
        name: 'minTeamMembers',
        value: minTeamMembers.toString(),
        label: 'Min members',
        type: 'number',
      },
    ]"
    [error]="errorMessage"
    (submitted)="onCreateClick()"
    (formInputsChanged)="onFormChanged($event)"
  >
    <div dynamicInput>
      <app-e-input
        label="Game"
        [isSearch]="true"
        [searchResult]="searchGames"
        (inputChanged)="getAllGamesByName($event)"
        (searchResultSelected)="selectGame($event)"
      />
      {{ selectedGame?.name }}
      <app-e-switch
        label="Type"
        [on]="true"
        [switchLabels]="{ on: 'Single Player', off: 'Team' }"
        [colors]="{ on: 'blue', off: 'red' }"
        (toggled)="onTypeChange()"
      />
    </div>
  </app-e-form>
</div>
