<app-e-form
  title="Login"
  [inputFields]="[
    {
      name: 'username',
      value: username,
      label: 'Username',
      required: true,
    },
    {
      name: 'password',
      value: password,
      label: 'Password',
      type: 'password',
      required: true,
    },
  ]"
  [error]="errorMessage"
  (submitted)="onLogin()"
  (formInputsChanged)="onFormChange($event)"
>
  <p class="register-link">
    Don't have an account? Register
    <a routerLink="/register">here</a>
  </p>
</app-e-form>
