@use 'colors';
@use 'variables';

.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  #section-header {
    display: flex;
    gap: 15px;

    #arrows-container {
      display: flex;
      justify-content: center;
      gap: 20px;

      .arrow {
        height: 25px;
        filter: variables.$text-filter;

        &:hover {
          cursor: pointer;
          filter: variables.$primary-filter;
        }

        &.left {
          transform: rotate(180deg);
        }

        &.disabled {
          cursor: default;
          filter: variables.$primary-filter;
        }
      }
    }

    .circle {
      background-color: colors.$danger;
    }
  }
}

.tournament-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #tournament-title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;

    &:hover {
      color: colors.$primary;
      text-decoration: underline;
    }
  }

  #game-name {
    font-size: 20px;
    font-weight: 700;
  }

  #teams-section {
    display: flex;
    justify-content: space-around;
    width: 100%;

    #team-navigation {
      width: 20%;
      padding: 50px;
      background-color: colors.$background;
      border: 1px solid colors.$primary;
      border-radius: variables.$border-radius;

      #teams-container {
        display: flex;
        flex-direction: column;

        gap: 15px;

        .team {
          padding: 5px 15px;
          background-color: colors.$secondary;
          border: 1px solid colors.$primary;
          border-radius: variables.$border-radius;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          box-shadow: variables.$box-shadow;

          &:hover {
            color: colors.$secondary;
            background-color: colors.$primary;
          }
        }
      }

      .section-header {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
