.tournament-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;

  #tournamnet-title {
    margin-top: 70px;
    font-size: 30px;
    font-weight: 700;
  }

  #game-name {
    font-size: 20px;
    font-weight: 400;
  }

  #team-rounds-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;

    #team-list {
      display: flex;
      flex-direction: column;
      width: 10%;
      padding: 50px;
      gap: 15px;
    }
  }

  #arrows-container {
    display: flex;
    justify-content: center;
    gap: 20px;

    .arrow {
      height: 25px;

      &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7480%)
          hue-rotate(181deg) brightness(118%) contrast(89%);
      }

      &.left {
        transform: rotate(180deg);
      }

      &.disabled {
        cursor: default;
        filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(0%) hue-rotate(261deg)
          brightness(92%) contrast(91%);
      }
    }
  }
}
