<div
  class="card-container"
  [style.background-image]="
    'linear-gradient(0deg, rgba(80, 50, 145, 1) 0%, rgba(2, 0, 36, 0) 100%), url(' + infoCard.imageUrl + ')'
  "
  [style.background-size]="'cover'"
  (click)="onCardClick(infoCard.id)"
>
  <div class="card-wrapper">
    <div class="header-icons">
      <img class="card-icon" src="assets/images/trophy-logo.svg" alt="Trophy Logo" />
      <ng-content select="[actions]" />
    </div>
    <div class="information-holder">
      <div class="title">{{ infoCard.name }}</div>
      <div class="subtitle-row">
        <div class="subtitle">{{ infoCard.subname }}</div>
        <ng-content select="[statsIcons]" />
      </div>
    </div>
  </div>
</div>
