@use 'colors';

#logo-change-holder {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: colors.$background;

    .title {
        font-size: 24px;
        font-weight: 600;
    }
}