#logo-change-holder {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .title {
        font-size: 24px;
        font-weight: 600;
    }
}