@use 'colors';
@use 'variables';

#home-panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  .panel-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: colors.$secondary;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: variables.$box-shadow;

    .sub-title {
      font-size: 20px;
      font-weight: 900;
    }

    .img-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 5px solid colors.$primary;
      border-radius: 20px;

      .panel-img {
        align-items: center;
        flex-shrink: 0;
        max-height: 170px;
        max-width: 100%;
      }
    }
  }
}
