@use 'colors';
@use 'variables';

.input-label {
  margin-bottom: 5px;
  margin-right: 20px;
  text-align: center;
  font-weight: 600;
}

.switch-container {
  display: flex;
  gap: 10px;
  align-items: center;

  .switch {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 50px;
    border-radius: 20px;

    &.on {
      background-color: colors.$text;
    }

    &.off {
      background-color: colors.$primary;
    }

    .toggle {
      width: 50%;
      display: inline-block;
      background-color: white;
      position: absolute;
      left: 1px;
      top: 0;
      bottom: 0;
      margin: 1px;
      border-radius: 50%;
      box-shadow: variables.$box-shadow;
    }
  }

  .label {
    font-weight: 700;

    &.off {
      color: colors.$primary;
    }
  }
}
