<div id="team-container">
  @if (teamData !== null) {
    <div id="banner-header">
      <app-e-image-upload
        [entityId]="teamId"
        [imgUrl]="teamImageUrl"
        [hideActions]="teamData.captain.id !== currentUserProfile?.id && currentUserProfile?.roleName !== 'ADMIN'"
      />
      <div class="banner-info-wrapper">
        <h1 class="title">{{ teamData.name }}</h1>
        <h4 class="description">{{ teamData.description }}</h4>
        <p class="contact">
          Team captain contact:
          <a class="contact-mail hover-transition" [href]="'mailto:' + teamData.captain.email">
            {{ teamData.captain.email }}
          </a>
        </p>
      </div>

      <div class="action-wrapper">
        @if (teamData.captain.id === currentUserProfile?.id || currentUserProfile?.roleName === 'ADMIN') {
          <app-e-input
            label="Add user to team"
            [isSearch]="true"
            [searchResult]="searchUsernames"
            (inputChanged)="getUsersByUsername($event)"
            (searchResultSelected)="selectUser($event)"
          />
          <img
            class="action-icon hover-transition"
            src="assets/images/edit-icon.svg"
            alt="Edit icon"
            (click)="onEditClick()"
          />
          <img
            class="action-icon hover-transition"
            src="assets/images/delete-icon.svg"
            alt="Delete icon"
            (click)="onDeleteClick()"
          />
        }
        @if (isMember) {
          <img
            class="action-icon hover-transition"
            src="assets/images/exit.svg"
            alt="Exit icon"
            (click)="onExitClick()"
          />
        }
      </div>
    </div>

    <div class="section-container">
      <div class="title-wrapper">
        <div class="title">Members</div>
        <hr />
      </div>

      <div class="info-cards-container">
        @for (currentMember of teamMembersData; track $index) {
          <app-e-info-card [cardData]="getUserInfoCard(currentMember)">
            @if (
              (teamData.captain.id === currentUserProfile?.id || currentUserProfile?.roleName === 'ADMIN') &&
              currentMember.id.toLowerCase() !== teamData.captain.id
            ) {
              <div actions class="actions" (click)="$event.stopPropagation(); onRemoveMemberClick(currentMember.id)">
                <img src="assets/images/close-icon.svg" alt="Close icon" />
              </div>
            }

            @if (currentMember.id === this.teamData.captain.id.toLowerCase()) {
              <div statsIcons class="stats-info">
                <img src="assets/images/crown-icon.svg" alt="Captain icon" />
                <div class="subtitle">Captain</div>
              </div>
            }
          </app-e-info-card>
        }
      </div>
    </div>

    @if (teamTournaments.length !== 0) {
      <div class="section-container">
        <div class="title-wrapper">
          <div id="tournament-nav">
            <div class="title">Tournaments - {{ selectedTournamentFilter }}</div>
            <div id="tabs-container">
              <button
                class="tab-item hover-transition"
                [ngClass]="{ active: selectedTournamentFilter === 'past' }"
                [disabled]="finishedTournaments.length === 0"
                (click)="onTournamentNavSelect('past')"
              >
                Past
              </button>
              <button
                class="tab-item hover-transition"
                [ngClass]="{ active: selectedTournamentFilter === 'active' }"
                [disabled]="activeTournaments.length === 0"
                (click)="onTournamentNavSelect('active')"
              >
                Active
              </button>
              <button
                class="tab-item hover-transition"
                [ngClass]="{ active: selectedTournamentFilter === 'future' }"
                [disabled]="futureTournaments.length === 0"
                (click)="onTournamentNavSelect('future')"
              >
                Future
              </button>
            </div>
          </div>
          <hr />
        </div>

        <div class="info-cards-container">
          @for (currentTournament of filteredTournaments; track $index) {
            <app-e-info-card
              [cardData]="getTournamentInfoCard(currentTournament)"
              (cardClicked)="onTournamentCardSelect($event)"
            >
              @if (
                selectedTournamentFilter === 'future' &&
                (teamData.captain.id === currentUserProfile?.id || currentUserProfile?.roleName === 'ADMIN')
              ) {
                <div
                  actions
                  class="actions"
                  (click)="$event.stopPropagation(); onLeaveTournamentClick(currentTournament.id)"
                >
                  <img src="assets/images/close-icon.svg" alt="Close icon" />
                </div>
              }
            </app-e-info-card>
          }
        </div>
      </div>
    }
  }
</div>
