#tournament-container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .bracket-wrapper {
    display: flex;
    justify-content: center;
    height: 450px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;

    #tournament-ranking-wrapper {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-self: center;
      gap: 10px;
      height: fit-content;
      padding: 20px;
      border: 2px solid red;

      .ranking-row {
        display: flex;
      }
    }
  }

  #tournament-actions {
    display: flex;
    gap: 15px;

    #start-tournament {
      cursor: pointer;
      width: 200px;
      color: purple;
      font-weight: 600;
      background-color: wheat;
      border-color: purple;
      border-radius: 25px;

      &:hover {
        color: white;
        background-color: purple;
      }
    }
  }
}
