@use 'colors';
@use 'variables';
@use 'layout-breakpoints' as *;

#tournament-container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  #results-section {
    padding: 20px;
    background: variables.$background-gradient;
    border-radius: variables.$border-radius;

    .bracket-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 20px;

      @media screen and (min-width: $small-min) {
        flex-direction: row;
      }

      #tournament-ranking-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-self: center;
        height: 100%;
        width: 100%;
        background-color: colors.$background;
        border: 2px solid colors.$primary;
        border-radius: variables.$border-radius;

        @media screen and (min-width: $small-min) {
          width: 20%;
        }

        .ranking-row {
          display: flex;
          justify-content: space-between;
          padding: 15px;
          color: colors.$text;

          &:first-child {
            border-radius: 0 0 20px 20px;
          }
          &:last-child {
            border-radius: 20px 20px 0 0;
          }

          &.first {
            background-color: colors.$background;
          }
          &.second {
            background-color: colors.$secondary;
          }
          &.third {
            background-color: colors.$primary;
          }
          &.fifth {
            color: colors.$background;
            background-color: colors.$text;
          }

          .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
