@if (tournamentData !== null) {
  {{ currentUserProfile | json }}
  {{ tournamentData | json }}
  @if (
    roundsData.length === 0 &&
    currentUserProfile !== null &&
    (tournamentData.creator.id === currentUserProfile.id || currentUserProfile.roleName === 'ADMIN')
  ) {
    <app-e-input
      label="Add team to tournament"
      [isSearch]="true"
      [searchResult]="searchTeamNames"
      (inputChanged)="getTeamByName($event)"
      (searchResultSelected)="selectTeam($event)"
    />

    <button (click)="onStartClick()">Start Tournament</button>
  }

  @if (roundsData.length > 0) {
    <app-tournament-bracket
      [roundsData]="roundsData"
      [tournamentId]="tournamentId"
      [canChooseWinner]="
        currentUserProfile !== null &&
        (tournamentData.creator.id === currentUserProfile.id ||
          currentUserProfile.roleName === 'ADMIN')
      "
    />
  }
}
