@use 'colors';
@use 'variables';

#footer-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: colors.$primary;

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    align-items: center;
  }

  #developer-contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
    color: colors.$background;

    .contact-name {
      color: colors.$background;
    }

    .contact-logo {
      filter: variables.$bg-filter;
    }
  }
}
