@use 'colors';
@use 'variables';
@use 'layout-breakpoints' as *;

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  padding-left: 60px;
  background-color: colors.$primary;
  align-items: start;
  gap: 30px;

  @media screen and (min-width: $medium-min) {
    flex-direction: row;
    gap: 0;
  }

  #platform-info {
    display: flex;
    gap: 15px;

    #footer-logo {
      height: 55px;
    }

    #contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 5px;
      font-size: 18px;
      font-weight: 500;

      .contact-item {
        &:hover {
          color: colors.$background;
          text-decoration: underline;
        }
      }
    }
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: end;

    @media screen and (min-width: $medium-min) {
      align-items: center;
    }
  }

  #developer-contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: colors.$background;

    @media screen and (min-width: $medium-min) {
      align-items: end;
    }

    .contact-name {
      display: flex;
      flex-direction: row-reverse;
      gap: 5px;
      color: colors.$background;
      align-items: baseline;

      @media screen and (min-width: $medium-min) {
        flex-direction: row;
      }
    }

    .contact-logo {
      filter: variables.$bg-filter;
    }
  }
}
