@use 'colors';
@use 'variables';

#footer-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: colors.$primary;

  #platform-info {
    display: flex;
    gap: 15px;
    padding-left: 45px;

    #footer-logo {
      height: 55px;
    }

    #contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 5px;
      font-size: 18px;
      font-weight: 500;

      .contact-item {
        &:hover {
          color: colors.$background;
          text-decoration: underline;
        }
      }
    }
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    align-items: center;
  }

  #developer-contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
    color: colors.$background;

    .contact-name {
      color: colors.$background;
    }

    .contact-logo {
      filter: variables.$bg-filter;
    }
  }
}
