@use 'colors';
@use 'variables';

#nav-container {
  display: flex;
  height: 50px;

  ul {
    display: flex;
    gap: 15px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: colors.$secondary;

    .nav-item {
      padding: 15px 5px;
      border-radius: 2px;

      &:hover,
      &.active {
        color: colors.$primary;
        background-color: colors.$background;

        #nav-logo {
          filter: variables.$primary-filter;
        }
      }

      #nav-logo {
        filter: variables.$text-filter;
      }
    }
  }
}
