@use 'colors';
@use 'variables';
@use 'layout-breakpoints' as *;

#nav-container {
  display: flex;
  height: 60px;

  @media screen and (min-width: $medium-min) {
    height: 100px;
  }

  #nav-items-container {
    position: fixed;
    display: flex;
    gap: 15px;
    z-index: 2;
    width: 100%;
    background-color: colors.$secondary;
    justify-content: space-between;

    @media screen and (min-width: $medium-min) {
      justify-content: start;
    }

    #website-title {
      font-size: 16px;
      font-weight: 900;

      @media screen and (min-width: $medium-min) {
        font-size: 32px;
        font-weight: 900;
      }
    }

    .nav-item {
      padding: 15px 5px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;

      @media screen and (min-width: $large-min) {
        font-size: 18px;
      }

      &.desktop {
        display: none;

        @media screen and (min-width: $medium-min) {
          display: flex;
        }
      }

      &:hover,
      &.active {
        color: colors.$primary;

        &:not(:hover) {
          text-decoration: underline;
        }
      }

      &:first-child {
        margin-left: 60px;

        &:hover,
        &.active {
          color: colors.$primary;
          background-color: colors.$background;
        }
      }

      #nav-logo {
        height: 40px;

        @media screen and (min-width: $medium-min) {
          height: 70px;
        }
      }

      #username {
        display: none;
        @media screen and (min-width: $medium-min) {
          display: flex;
        }
      }

      .dropdown-arrow {
        height: 10px;
        transform: rotate(90deg);

        @media screen and (min-width: $medium-min) {
          height: 15px;
        }
      }
    }
  }
}

#dropdown-menu {
  width: 100%;
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: right;
  opacity: 0.8;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;

  @media screen and (min-width: $medium-min) {
    top: 100px;
    height: auto;
    overflow: initial;
  }

  &:not(.active) {
    display: none;
  }

  .dropdown-item {
    display: flex;
    padding: 15px;
    background-color: colors.$secondary;
    border-bottom: 1px solid colors.$primary;
    opacity: 1;
    font-size: 18px;
    font-weight: 600;
    justify-content: end;

    .mobile-username {
      @media screen and (min-width: $medium-min) {
        display: none;
      }
    }

    &.mobile {
      @media screen and (min-width: $medium-min) {
        display: none;
      }
    }

    &:hover {
      color: colors.$secondary;
      background-color: colors.$primary;
    }
  }
}
