<div class="table-container">
  <input [(ngModel)]="filterText" (input)="applyFilter()" placeholder="Search..." />
  <table>
    <thead>
      <tr>
        @for (item of header; track $index) {
          <th (click)="sortData(item)">{{ item }}</th>
        }
        @for (currAction of actions; track $index) {
          <th>{{ currAction }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (currentData of paginatedData; track $index) {
        <tr>
          @for (item of header; track $index) {
            <td (click)="onRowClick(currentData.id)">{{ currentData[item] }}</td>
          }

          @for (currAction of actions; track $index) {
            <td>
              <button (click)="onActrionClick(currentData.id, currAction)">
                {{
                  currentData[currAction] === undefined
                    ? 'change'
                    : currentData[currAction]
                      ? 'Deactive'
                      : 'Active'
                }}
              </button>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
