@use 'colors';
@use 'fonts';
@use 'variables';

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 15px;
  padding: 30px;
  background-color: colors.$background;
  border-radius: 10px;
  border: 2px solid colors.$primary;

  .form-btn {
    cursor: pointer;
    padding: 10px;
    width: 60%;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: colors.$primary;
    border-radius: 10px;
    box-shadow: variables.$box-shadow;

    &:hover:not(:disabled) {
      color: colors.$primary;
      background-color: colors.$background;
    }

    &:disabled {
      cursor: default;
      background-color: colors.$disabled;
    }
  }

  .title {
    font-family: fonts.$global;
    font-weight: 700;
  }

  &.error {
    border: 2px solid colors.$danger;
  }
}
