@use './assets/styles/fonts';

@font-face {
  font-family: 'Tournament-Manager';
  src: url('./assets/fonts/Freedom.ttf');
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin: 0;
    padding-inline-start: 0;

    li {
      list-style-type: none;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  .image-text {
    display: flex;
    gap: 5px;

    img {
      height: 20px;
    }
  }

  img.edit-icon {
    cursor: pointer;
    // White filter
    filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(2%) hue-rotate(14deg)
      brightness(107%) contrast(101%);
  }

  img.edit-icon:hover {
    filter: brightness(0) saturate(100%) invert(91%) sepia(77%) saturate(4111%) hue-rotate(105deg)
      brightness(103%) contrast(104%);
  }

  .flex-right {
    margin-left: auto;
    padding-right: 20px;
  }

  .hover-transition {
    opacity: 0.6;
    transition: 0.3s;
  }

  .hover-transition:hover {
    cursor: pointer;
    opacity: 1;
  }

  #dialog-container {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  #content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    #page-container {
      min-height: 100vh;
      height: 100%;
      padding: 0 60px;
      padding-top: 50px;
      padding-bottom: 80px;
      background-color: darkturquoise;

      .section-container {
        .title-wrapper {
          .title {
            color: blueviolet;
            font-family: 'Tournament-Manager';
            font-size: 36px;
            font-weight: 400;
            line-height: 30px;
          }
          hr {
            width: 100%;
            height: 1px;
            margin-top: 8px;
            background-color: purple;
            border: 1px solid blueviolet;
          }
        }

        .info-cards-container {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          width: 100%;
          padding: 30px;
          font-family: fonts.$global;
          font-style: normal;
          font-weight: 700;
          color: white;

          .actions {
            img {
              height: 25px;
              filter: brightness(0) saturate(100%) invert(14%) sepia(97%) saturate(6303%)
                hue-rotate(356deg) brightness(100%) contrast(100%);
            }

            img:hover {
              filter: brightness(0) saturate(100%) invert(15%) sepia(71%) saturate(3799%)
                hue-rotate(351deg) brightness(78%) contrast(120%);
            }
          }

          .stats-info {
            display: flex;
            align-items: center;
            gap: 3px;

            img {
              filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
                hue-rotate(349deg) brightness(100%) contrast(104%);
              height: 15px;
              width: 15px;
            }
          }
        }
      }

      #banner-header {
        display: flex;
        gap: 15px;
        padding: 30px;
        color: white;
        background-color: #90e0ef;
        background-image: url('/assets/images/tournament-banner-img.jpg');

        .banner-info-wrapper {
          display: flex;
          flex-direction: column;

          .contact {
            margin-top: auto;

            .contact-mail {
              color: lightgray;
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100px;
}
