<div id="nav-container">
  <ul>
    <li id="nav-logo" class="nav-item hover-transition image-text" routerLink="/">
      <img src="assets/images/trophy-logo.svg" alt="Trophy Logo" />
      {{ constants.WEBSITE_NAME }}
    </li>
    <li class="nav-item hover-transition">Current tournaments</li>
    @if (currentUser !== null) {
      <li class="nav-item hover-transition">My teams</li>
      @if (currentUser.roleName === constants.TOURNAMENT_PARTICIPANT_ROLE) {
        <li class="nav-item hover-transition flex-right" (click)="onTeamCreateClick()">Create team</li>
      } @else {
        <li class="nav-item hover-transition flex-right" (click)="onTournamentCreateClick()">
          Create tournament
        </li>
      }
      <li class="nav-item hover-transition" routerLink="/profile">
        {{ currentUser.username | uppercase }}
      </li>
      <li class="nav-item hover-transition" (click)="onLogout()">Logout</li>
    } @else {
      <li class="nav-item hover-transition flex-right" (click)="onLoginClick()">Login</li>
      <li class="nav-item hover-transition" (click)="onRegisterClick()">Register</li>
    }
  </ul>
</div>
