<div id="nav-container">
  <ul>
    <li id="nav-logo" class="nav-item hover-transition image-text">
      <img src="assets/images/trophy-logo.svg" alt="Trophy Logo" />
      {{ constants.WEBSITE_NAME }}
    </li>
    <li class="nav-item hover-transition">Current tournaments</li>
    @if (username !== null) {
      <li class="nav-item hover-transition">My teams</li>
      <li class="nav-item hover-transition flex-right">{{ username | uppercase }}</li>
      <li class="nav-item hover-transition" (click)="onLogout()">Logout</li>
    } @else {
      <li class="nav-item hover-transition flex-right">Login</li>
      <li class="nav-item hover-transition">Register</li>
    }
  </ul>
</div>
