@use 'colors';

#games-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid colors.$primary;
  border-radius: 20px;

  .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align: center;
  }
}
