@use 'variables';

#profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  #profile-section {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }

  #username-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;

    .edit-icon {
      height: 25px;
      filter: variables.$bg-filter;

      &:hover {
        cursor: pointer;
        filter: variables.$text-filter;
      }
    }

    #config-icon {
      margin-left: auto;
    }
  }
}
