<div id="profile-container">
  @if (currentUserProfile !== null) {
    @if (currentUserProfile.roleName === constants.ADMIN_ROLE) {
      <app-e-admin-management />
    } @else {
      <div id="profile-edit-wrapper">
        @if (currentUserProfile.roleName === constants.TOURNAMENT_PARTICIPANT_ROLE) {
          <app-e-image-upload [entityId]="currentUserProfile.id" [imgUrl]="userImageUrl" />
        }

        <div id="username-edit-form">
          <app-e-input
            [value]="currentUserProfile.username"
            [label]="'User Name'"
            (inputChanged)="onUsernameChange($event)"
          />
          <button id="username-edit-btn" (click)="onChangeUsernameClick()">Change User Name</button>
        </div>

        <button id="password-change-btn" (click)="onPasswordChangeClick()">Change Password</button>
      </div>
    }
  }

  @switch (currentUserProfile?.roleName) {
    @case (constants.TOURNAMENT_PARTICIPANT_ROLE) {
      <div class="section-container">
        <div class="title-wrapper">
          <div class="title">My Teams</div>
          <hr />
        </div>

        <div id="teams-cards-container" class="info-cards-container teams">
          @if (teamTourLoader) {
            <div class="loader-wrapper">
              <span class="loader"></span>
            </div>
          } @else {
            @for (currentTeam of teamsData; track $index) {
              <app-e-info-card
                [cardData]="getTeamInfoCard(currentTeam)"
                (cardClicked)="onCardSelect(currentTeam.id, '/team')"
              >
                <div statsIcons class="stats-info">
                  <img src="assets/images/first-place-medal.svg" alt="First Place Medal" />
                  <div class="subtitle">
                    {{ currentTeam.tournamentsWon }}
                  </div>

                  <img src="assets/images/people-icon.svg" alt="People Icon" />
                  <div class="subtitle">
                    {{ currentTeam.members.length }}
                  </div>
                </div>
              </app-e-info-card>
            }
          }
        </div>
      </div>
    }
    @case (
      [constants.TOURNAMENT_CREATOR_ROLE, constants.ADMIN_ROLE].includes(
        currentUserProfile?.roleName ?? ''
      )
        ? currentUserProfile?.roleName
        : ''
    ) {
      <div class="section-container">
        <div class="title-wrapper">
          <div class="title">My Tournaments</div>
          <hr />
        </div>

        <div class="info-cards-container">
          @if (teamTourLoader) {
            <div class="loader-wrapper">
              <span class="loader"></span>
            </div>
          } @else {
            @for (currentTournament of tournamentsData; track $index) {
              <app-e-info-card
                [cardData]="getTournamentCard(currentTournament)"
                (cardClicked)="onCardSelect(currentTournament.id, '/tournament')"
              >
                <div statsIcons class="stats-info">
                  <img src="assets/images/people-icon.svg" alt="People Icon" />
                  <div class="subtitle">
                    {{ currentTournament.teams.length }}
                  </div>
                </div>
              </app-e-info-card>
            }
          }
        </div>
      </div>
    }
  }
</div>
