@use 'variables';

#profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  #profile-edit-wrapper {
    display: flex;
    gap: 20px;

    #username-edit-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;

      #username-edit-btn {
        height: 40px;
        background-color: yellow;
        color: red;
        border-radius: 20px;
      }
    }
  }
}
