@use 'colors';

.input-container {
  display: flex;
  position: relative;

  .search-wrapper {
    display: flex;
    flex-direction: column;

    .search-list {
      position: absolute;
      z-index: 1;
      top: 40px;
      width: 190px;
      max-height: 200px;
      overflow: scroll;
      overflow-x: hidden;

      .search-result {
        cursor: pointer;
        text-align: center;
        padding: 10px;
        background-color: yellow;
        border: 1px solid red;
      }

      .search-result:hover {
        background-color: lightblue;
      }
    }
  }

  input {
    padding: 10px;
    border-radius: 10px;
    background-color: colors.$background;
    text-align: center;
  }

  input.filled {
    background-color: colors.$secondary;
  }

  input:focus {
    background-color: lightblue;
  }

  input:focus::placeholder {
    color: transparent;
  }

  .invalid {
    border: 2px solid colors.$danger;
  }

  .invalid::placeholder {
    color: colors.$danger;
  }

  .search-img {
    position: absolute;
    top: 10px;
    left: 160px;
  }
}
