.input-container {
  display: flex;
  position: relative;

  .search-wrapper {
    display: flex;
    flex-direction: column;

    .search-result {
      cursor: pointer;
      text-align: center;
      padding: 10px;
      background-color: yellow;
      border: 1px solid red;
    }

    .search-result:hover {
      background-color: lightblue;
    }
  }

  input {
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    text-align: center;
  }

  input.filled {
    background-color: lightgreen;
  }

  input:focus {
    background-color: lightblue;
  }

  input:focus::placeholder {
    color: transparent;
  }

  .invalid {
    border: 2px solid red;
  }

  .invalid::placeholder {
    color: red;
  }

  .search-img {
    position: absolute;
    top: 10px;
    left: 160px;
  }
}
