@use '../../../assets/styles/fonts';

.teams-container {
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 30px;
  font-family: fonts.$global;
  font-style: normal;
  font-weight: 700;
  color: white;

  .team-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 212px;
    border-radius: 10px;

    .card-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 20px;

      .logo-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          height: 15px;
        }
      }

      .information-holder {
        display: flex;
        flex-direction: column;

        .title {
          width: 100%;
          font-family: fonts.$global;
          font-size: 16px;
          font-weight: 700;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .subtitle-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .subtitle {
            font-family: fonts.$global;
            font-size: 12px;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .stats-info {
            display: flex;
            align-items: center;
            gap: 3px;

            img {
              filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(349deg) brightness(100%) contrast(104%);
              height: 15px;
              width: 15px;
            }
          }
        }
      }
    }
  }
}
