<div class="image-upload-wrapper" [ngClass]="{ 'image-selected': imageFile !== null }">
  <input #fileInput type="file" accept="image/png" (change)="onFileChange($event)" />
  @if (imageFile === null) {
    <div class="upload-container" (click)="triggerFileChange()">
      <img
        class="img-upload-icon"
        src="assets/images/image-upload-icon.svg"
        alt="Image Upload Icon"
        width="52"
      />
      <div class="label">
        <h3>Upload Image</h3>
        <h6>Recomended images:</h6>
        <h3>PNG format, 5MB or less</h3>
      </div>
    </div>
  } @else {
    <img
      class="uploaded-image"
      [src]="getImageUrl()"
      alt="Uploaded Image"
      width="210"
      height="100"
    />
    <div class="actions">
      <img
        src="assets/images/edit-icon.svg"
        alt="Edit Icon"
        width="12"
        (click)="triggerFileChange()"
      />
      <img
        src="assets/images/delete-icon.svg"
        alt="Delete Icon"
        width="12"
        (click)="onDeleteClick()"
      />
    </div>
  }
</div>
