.image-upload-wrapper {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 140px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: white;

  input {
    display: none;
  }

  .upload-container {
    height: 100%;
    text-align: center;
    padding: 25px;

    .img-upload-logo {
      filter: brightness(0) saturate(100%) invert(7%) sepia(100%) saturate(6897%) hue-rotate(248deg)
        brightness(116%) contrast(144%);
    }

    .label {
      display: flex;
      flex-direction: column;
      gap: 2px;
      align-items: center;
      color: black;

      h3 {
        font-size: 10px;
        font-weight: 700;
      }

      h6 {
        font-style: italic;
        font-weight: 400;
      }
    }
  }

  .image-container {
    position: relative;
    height: inherit;

    .uploaded-image {
      height: inherit;
      border-radius: 5px;
    }

    .actions {
      cursor: default;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: end;
      gap: 5px;
      width: 90%;
      padding: 10px 5%;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      img:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(7%) sepia(100%) saturate(6897%)
          hue-rotate(248deg) brightness(116%) contrast(144%);
      }
    }
  }
}

.image-selected {
  cursor: default;
  background-color: white;
}
